
@font-face {
  font-family: 'schoolbell';
  src: url("/fonts/schoolbell.ttf");
}



@font-face {
  font-family: 'rayando';
  src: url("/fonts/rayando.ttf");
}


body {
  background-image: url("/img/chalkboard.jpg");
}

#motto {
  font-family: 'rayando', cursive;
  color:rgba(255,255,204,0.9);
}

#status {
  color:rgba(255,255,204,0.9);
  margin-top:12px;
  margin-bottom:20px;
}

.boardCell {
  width:100px;
  height:100px;
  border-color:rgba(255,255,236,0.2);
  font-family: 'rayando', cursive;
  font-size: 36px;
  min-height: 36px;
  text-align:center;
  display: table-cell;
  vertical-align:middle;

  color:rgba(255,255,204,0.9);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

}

/* row1 */
#cell00 {
  border-right-style:solid;
  border-bottom-style:solid;
}

#cell01 {
  border-left-style:solid;
  border-bottom-style:solid;
  border-right-style:solid;
}

#cell02 {
  border-left-style:solid;
  border-bottom-style:solid;
}

/* row2 */

#cell10 {
  border-top-style:solid;
  border-right-style:solid;
  border-bottom-style:solid;
}

#cell11 {
  border-top-style:solid;
  border-right-style:solid;
  border-bottom-style:solid;
  border-left-style:solid;
}

#cell12 {
  border-top-style:solid;
  border-bottom-style:solid;
  border-left-style:solid;
}

/*row3*/
#cell20 {
  border-top-style:solid;
  border-right-style:solid;
}

#cell21 {
  border-top-style:solid;
  border-right-style:solid;
  border-left-style:solid;
}

#cell22 {
  border-top-style:solid;
  border-left-style:solid;
}

.playerLabel{
 font-size:19px;
 color:rgba(255,255,204,0.9);
 font-family:'schoolbell';
}

.playerAvatar {
  margin-top:10px;
  margin-bottom:10px;
}

.player {
  width:110px;
  text-align:center;
  font-size: 25px;
  font-family:'schoolbell';
  color:rgba(255,255,204,0.9);
}

.activePlayer {
 text-decoration:underline;
}



#circle div {
  background-color: #000;
  float: left;
  height: 30px;
  margin-left: 10px;
  width: 30px;
  -webkit-animation-name: circle_move;
  -webkit-border-radius: 30px;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: linear;
  opacity: 0.5;
}
div#one{
        -webkit-animation-delay: 0.4s;
  }
div#two{
        -webkit-animation-delay: 0.8s;
}
div#three{
        -webkit-animation-delay: 1.2s;
}

@-webkit-keyframes circle_move{
  0% { background-color:#000; }
  30%{ opacity:1;
    background-color:rgba(255,255,204,0.9);
      }
  60%	{ background-color:#000; }
  100% {
          opacity:0.5;
          background-color:#000; }
}

